n8n_workflow8_noticias_facebook.json
{
  "name": "GuiaCrucerista - Noticias Navieras Facebook",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 8 }] }
      },
      "id": "a1000001-0000-0000-0000-000000000001",
      "name": "Cada 8 Horas",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [80, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const feeds = [\n  { company:'msc',    name:'MSC Cruceros',      rssUrl:'https://news.google.com/rss/search?q=MSC+cruceros&hl=es&gl=ES&ceid=ES:es',                  groups:'811550587597467',  page:'guiacrucerista' },\n  { company:'royal',  name:'Royal Caribbean',   rssUrl:'https://news.google.com/rss/search?q=Royal+Caribbean+cruceros&hl=es&gl=ES&ceid=ES:es',         groups:'1116074769675601', page:'guiacrucerista' },\n  { company:'costa',  name:'Costa Cruceros',    rssUrl:'https://news.google.com/rss/search?q=Costa+Cruceros&hl=es&gl=ES&ceid=ES:es',                   groups:'1882092085657041', page:'guiacrucerista' },\n  { company:'general',name:'Cruceros General',  rssUrl:'https://news.google.com/rss/search?q=cruceros+Mediterraneo+noticias&hl=es&gl=ES&ceid=ES:es',    groups:'',                page:'guiacrucerista' },\n  { company:'fluvial',name:'Cruceros Fluviales',rssUrl:'https://news.google.com/rss/search?q=cruceros+fluviales+Europa&hl=es&gl=ES&ceid=ES:es',          groups:'',                page:'guiacrucerista' }\n];\n\nconst allItems = [];\nfor (const feed of feeds) {\n  try {\n    const response = await $http.get(feed.rssUrl, { headers: { 'User-Agent': 'Mozilla/5.0 GuiaCrucerista/1.0' } });\n    const xml = response.data;\n    const itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\n    let match, count = 0;\n    while ((match = itemRegex.exec(xml)) !== null && count < 2) {\n      const c = match[1];\n      const title   = (/<title>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/title>/s.exec(c)||[])[1]?.trim()||'';\n      const link    = (/<link>(.*?)<\\/link>/.exec(c)||[])[1]?.trim()||'';\n      const pubDate = (/<pubDate>(.*?)<\\/pubDate>/.exec(c)||[])[1]?.trim()||'';\n      const desc    = (/<description>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/description>/s.exec(c)||[])[1]?.trim().replace(/<[^>]+>/g,'').substring(0,300)||'';\n      const hoursOld = pubDate ? (Date.now()-new Date(pubDate).getTime())/3600000 : 99;\n      if (title && link && hoursOld <= 8) {\n        allItems.push({ json: { title, link, pubDate, desc, company: feed.company, feedName: feed.name, groups: feed.groups, page: feed.page } });\n        count++;\n      }\n    }\n  } catch(e) { console.log('Error feed '+feed.company+': '+e.message); }\n}\nreturn allItems.length ? allItems : [{ json: { skip: true, reason: 'Sin noticias nuevas' } }];"
      },
      "id": "a1000002-0000-0000-0000-000000000002",
      "name": "Fetch y Parsear RSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }],
          "combinator": "and"
        }
      },
      "id": "a1000003-0000-0000-0000-000000000003",
      "name": "Hay Noticias",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o-mini"
            },
            {
              "name": "max_tokens",
              "value": "400"
            },
            {
              "name": "temperature",
              "value": "0.8"
            },
            {
              "name": "messages",
              "value": "=[{\"role\":\"user\",\"content\":\"Eres experto en marketing de cruceros. Crea un post de Facebook atractivo en español (máximo 280 caracteres). Empieza con emojis 🚢⚓🌊. Incluye el nombre de la compañía si aplica. Termina con 'Ver más 👇'. Solo devuelve el texto del post sin comillas ni explicaciones.\\n\\nTítulo: {{ $json.title }}\\nFuente: {{ $json.feedName }}\\nResumen: {{ $json.desc }}\"}]"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000004-0000-0000-0000-000000000004",
      "name": "Formatear Post con IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": { "openAiApi": { "id": "1", "name": "OpenAI account" } }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const aiResponse = $input.item.json;\nconst postText = aiResponse.choices?.[0]?.message?.content?.trim() || $input.item.json.title || 'Noticia cruceros';\n\nconst prev = $('Hay Noticias').item.json;\nconst groups = prev.groups || '';\nconst page   = prev.page   || '';\nconst url    = prev.link   || '';\nconst company = prev.company || 'general';\n\nreturn [{ json: {\n  postText,\n  url,\n  groups: groups ? groups.split(',').map(g => g.trim()).filter(Boolean) : [],\n  page,\n  company\n} }];"
      },
      "id": "a1000005-0000-0000-0000-000000000005",
      "name": "Preparar Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:3456/publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-token", "value": "guiacrucerista-2026" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ text: $json.postText, url: $json.url, groups: $json.groups, page: $json.page }) }}",
        "options": { "timeout": 300000 }
      },
      "id": "a1000006-0000-0000-0000-000000000006",
      "name": "Publicar en Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID || '' }}",
        "text": "=🚢 *GuiaCrucerista — Noticia publicada*\n\n📰 {{ $('Preparar Post').item.json.postText.substring(0,150) }}\n\n🔗 {{ $('Preparar Post').item.json.url }}\n✅ Estado: {{ $json.success ? 'Publicado ✅' : 'Error ❌' }}\n🏢 Compañía: {{ $('Preparar Post').item.json.company }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "a1000007-0000-0000-0000-000000000007",
      "name": "Notificar Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1280, 300],
      "credentials": { "telegramApi": { "id": "3", "name": "GuiaCrucerista Telegram" } }
    }
  ],
  "connections": {
    "Cada 8 Horas":          { "main": [[{ "node": "Fetch y Parsear RSS",    "type": "main", "index": 0 }]] },
    "Fetch y Parsear RSS":   { "main": [[{ "node": "Hay Noticias",           "type": "main", "index": 0 }]] },
    "Hay Noticias":          { "main": [[{ "node": "Formatear Post con IA",  "type": "main", "index": 0 }]] },
    "Formatear Post con IA": { "main": [[{ "node": "Preparar Post",          "type": "main", "index": 0 }]] },
    "Preparar Post":         { "main": [[{ "node": "Publicar en Facebook",   "type": "main", "index": 0 }]] },
    "Publicar en Facebook":  { "main": [[{ "node": "Notificar Telegram",     "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [{ "name": "guiacrucerista" }]
}
