n8n_workflow7_publicador_facebook.json
{
  "name": "GuiaCrucerista — Publicador Facebook",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [20, 400]
    },
    {
      "parameters": {
        "command": "curl -fsSL -o /opt/guiacrucerista/scripts/playwright_facebook_grupos.js https://raw.githubusercontent.com/guiacrucerista-del/cruceros-viajesselva/main/playwright_facebook_grupos.js && echo OK"
      },
      "id": "auto-update",
      "name": "Auto-Update Script Playwright",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": { "__rl": true, "value": "14QcT_BFRUGjP5Z69sdoAPYfNtRlrJ1u2cDsmIP4CVWk", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Cola de Publicaciones", "mode": "name" },
        "filters": { "conditions": [{ "keyName": "Estado", "condition": "equals", "keyValue": "Pendiente" }] },
        "options": { "returnAllMatches": true }
      },
      "id": "sheets-cola",
      "name": "Sheets - Leer Cola",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 400]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst naviera = item['Naviera'] || 'General';\nconst destino = item['Destino'] || '';\nconst slug = (naviera + '-' + destino).toLowerCase().replace(/\\s+/g, '-').replace(/[^a-z0-9-]/g, '');\nconst fechaHoy = new Date().toISOString().split('T')[0];\nconst utm = 'utm_medium=social&utm_campaign=' + slug + '&utm_content=' + fechaHoy;\nreturn [{ json: {\n  texto: item['Texto'] || '',\n  naviera,\n  destino,\n  publicarPagina: (item['Publicar Pagina'] || 'SI').toUpperCase() === 'SI',\n  urlPagina:  'https://guiacrucerista.com?utm_source=fb-pagina&' + utm,\n  urlMSC:     'https://guiacrucerista.com?utm_source=fb-grupo-msc&' + utm,\n  urlRoyal:   'https://guiacrucerista.com?utm_source=fb-grupo-royal&' + utm,\n  urlCosta:   'https://guiacrucerista.com?utm_source=fb-grupo-costa&' + utm,\n  fechaHoy,\n  rowNumber: item['_rowNumber'] || 2\n}}];"
      },
      "id": "preparar-post",
      "name": "Preparar Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "conditions": { "boolean": [{ "value1": "={{ $json.publicarPagina }}", "value2": true }] }
      },
      "id": "if-pagina",
      "name": "IF Pagina",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v20.0/360998217104895/feed",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": { "parameters": [
          { "name": "message",      "value": "={{ $('Preparar Post').item.json.texto }}" },
          { "name": "access_token", "value": "EAAUOpOCfmP8BRe9zrGZAxsugMjZC49Kj7V37gpNTda7UV92SbWrLusaEZCDnvYUIHL2NzZAGdCaxlHkk3ZBKdIuij5yDvn5JH6f21AgQtZC8b1jLy94FRUqVAvGkCLADlDTnXtK4NmAkwKOE8TZAa5eFZCw25A2gGk5Gb1uOiTJsh0yWbpvsXXSIcxl2DY4Gy9MhkZAaOM80vxWEazSZA7AvFOi1BrNkUvis0dV9Flt6nv4tCJtlBQSdb3vxQR3XtpnkVWXZAowBzjgLJxmHIiqRms2tJ9ZAUwZDZD" }
        ]}
      },
      "id": "post-pagina",
      "name": "POST Pagina",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 260]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v20.0/{{ $json.id }}/comments",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": { "parameters": [
          { "name": "message",      "value": "={{ $('Preparar Post').item.json.urlPagina }}" },
          { "name": "access_token", "value": "EAAUOpOCfmP8BRe9zrGZAxsugMjZC49Kj7V37gpNTda7UV92SbWrLusaEZCDnvYUIHL2NzZAGdCaxlHkk3ZBKdIuij5yDvn5JH6f21AgQtZC8b1jLy94FRUqVAvGkCLADlDTnXtK4NmAkwKOE8TZAa5eFZCw25A2gGk5Gb1uOiTJsh0yWbpvsXXSIcxl2DY4Gy9MhkZAaOM80vxWEazSZA7AvFOi1BrNkUvis0dV9Flt6nv4tCJtlBQSdb3vxQR3XtpnkVWXZAowBzjgLJxmHIiqRms2tJ9ZAUwZDZD" }
        ]}
      },
      "id": "comentar-pagina",
      "name": "Comentar URL Pagina",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 260]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Preparar Post').item.json;\nconst data = {\n  text:   p.texto,\n  url:    p.urlMSC,\n  groups: ['811550587597467','1116074769675601','1882092085657041']\n};\nconst fs = require('fs');\nfs.writeFileSync('/tmp/fb_post.json', JSON.stringify(data));\nreturn [{ json: { inputFile: '/tmp/fb_post.json', texto: p.texto } }];"
      },
      "id": "write-post-file",
      "name": "Escribir Archivo Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 540]
    },
    {
      "parameters": {
        "command": "cd /opt/guiacrucerista/scripts && source .env && node playwright_facebook_grupos.js --input /tmp/fb_post.json"
      },
      "id": "playwright-grupos",
      "name": "Playwright — Publicar en Grupos",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1340, 540]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.stdout || '{}';\ntry {\n  const r = JSON.parse(raw);\n  return [{ json: { playwrightOK: r.success, grupos: r.groups } }];\n} catch(e) {\n  return [{ json: { playwrightOK: false, error: e.message } }];\n}"
      },
      "id": "parse-playwright",
      "name": "Parsear Resultado Playwright",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 540]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "14QcT_BFRUGjP5Z69sdoAPYfNtRlrJ1u2cDsmIP4CVWk", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Cola de Publicaciones", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Estado": "Publicado",
            "Fecha Publicacion": "={{ $('Preparar Post').item.json.fechaHoy }}"
          }
        },
        "options": { "rowNumber": "={{ $('Preparar Post').item.json.rowNumber }}" }
      },
      "id": "sheets-marcar",
      "name": "Sheets - Marcar Publicado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "chatId": "6724881174",
        "text": "OK *GuiaCrucerista publicado*\n\nNaviera: {{ $('Preparar Post').item.json.naviera }}\nDestino: {{ $('Preparar Post').item.json.destino }}\n\nPagina Facebook: publicada\nGrupos (Playwright): publicados\n\nhttps://docs.google.com/spreadsheets/d/14QcT_BFRUGjP5Z69sdoAPYfNtRlrJ1u2cDsmIP4CVWk",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram-confirm",
      "name": "Telegram - Confirmar",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2000, 400],
      "credentials": { "telegramApi": { "id": "telegram-creds", "name": "Telegram Bot GuiaCrucerista" } }
    }
  ],
  "connections": {
    "Manual Trigger":                   { "main": [[{ "node": "Auto-Update Script Playwright", "type": "main", "index": 0 }]] },
    "Auto-Update Script Playwright":    { "main": [[{ "node": "Sheets - Leer Cola",           "type": "main", "index": 0 }]] },
    "Sheets - Leer Cola":               { "main": [[{ "node": "Preparar Post",                "type": "main", "index": 0 }]] },
    "Preparar Post":                    { "main": [[{ "node": "IF Pagina",                    "type": "main", "index": 0 }]] },
    "IF Pagina": {
      "main": [
        [{ "node": "POST Pagina",          "type": "main", "index": 0 }],
        [{ "node": "Escribir Archivo Post","type": "main", "index": 0 }]
      ]
    },
    "POST Pagina":                      { "main": [[{ "node": "Comentar URL Pagina",      "type": "main", "index": 0 }]] },
    "Comentar URL Pagina":              { "main": [[{ "node": "Escribir Archivo Post",     "type": "main", "index": 0 }]] },
    "Escribir Archivo Post":            { "main": [[{ "node": "Playwright — Publicar en Grupos", "type": "main", "index": 0 }]] },
    "Playwright — Publicar en Grupos":  { "main": [[{ "node": "Parsear Resultado Playwright",   "type": "main", "index": 0 }]] },
    "Parsear Resultado Playwright":     { "main": [[{ "node": "Sheets - Marcar Publicado",       "type": "main", "index": 0 }]] },
    "Sheets - Marcar Publicado":        { "main": [[{ "node": "Telegram - Confirmar",            "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "meta": {
    "facebookPageId":    "360998217104895",
    "facebookPageToken": "EAAUOpOCfmP8BRe9zrGZAxsugMjZC49Kj7V37gpNTda7UV92SbWrLusaEZCDnvYUIHL2NzZAGdCaxlHkk3ZBKdIuij5yDvn5JH6f21AgQtZC8b1jLy94FRUqVAvGkCLADlDTnXtK4NmAkwKOE8TZAa5eFZCw25A2gGk5Gb1uOiTJsh0yWbpvsXXSIcxl2DY4Gy9MhkZAaOM80vxWEazSZA7AvFOi1BrNkUvis0dV9Flt6nv4tCJtlBQSdb3vxQR3XtpnkVWXZAowBzjgLJxmHIiqRms2tJ9ZAUwZDZD",
    "groupMSC":          "811550587597467",
    "groupRoyal":        "1116074769675601",
    "groupCosta":        "1882092085657041",
    "telegramChatId":    "6724881174",
    "googleSheetId":     "14QcT_BFRUGjP5Z69sdoAPYfNtRlrJ1u2cDsmIP4CVWk",
    "vps":               "agente.metricastudio.eu"
  },
  "tags": [{ "name": "guiacrucerista" }, { "name": "facebook" }]
}
